
*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{ 
    margin: 0;
    padding: 0;
    background: #F6F8F9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    user-select: none;
}
.flex{ 
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_pay{ 
    width: 100px;
    height: 100px;
    padding-bottom: 23px;
}
.register_container{ 
    width: 445px;
    height: 500px;
    border-radius: 12px;
    background: #F6F8F9;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.04);
    padding: 48px;
    .box{ 
        .text{ 
            color: #3F3F46;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            padding-bottom: 21px;
        }
        .phone_register{ 
            .password{ 
                color: #888894;
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px; /* 133.333% */
                padding-left: 16px;
                padding-bottom: 5px;
            }
            .number{ 
                color: #888894;
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
                padding-left: 16px;
                cursor:default;
                padding-bottom: 4px;
            }
            .number_box{ 
                width: 60px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 12px 0px 0px 12px;
                border-top: 1px solid #DFDFE4;
                border-bottom: 1px solid #DFDFE4;
                border-left: 1px solid #DFDFE4;
                background: #FFF;
                color: #888894;
                text-align: center;
                font-family: Inter;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 16px;
            }
            .input_num_box{ 
                .number_input{ 
                    width: 288px;
                    height: 48px;
                    border-radius: 0px 12px 12px 0px;
                    border-top: 1px solid #DFDFE4;
                    border-right: 1px solid #DFDFE4;
                    border-bottom: 1px solid #DFDFE4;
                    border-left: none;
                    background: #FFF;
                    outline: none;
                    color: black;
                    font-family: Inter;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-bottom: 16px;
                    &.number_input::placeholder{ 
                        color: #CDCDD2;
                        font-family: Inter;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                    &.number_input:focus{ 
                        border-top: 1px solid #2ACED0;
                        border-right: 1px solid #2ACED0;
                        border-bottom: 1px solid #2ACED0;
                    }
                }
            }
        }
    }
}
.input_pass_box{ 
    padding-bottom: 41px;
    .password_input{ 
        width: 347px;
        height: 48px;
        border-radius: 12px;
        border: 1px solid #DFDFE4;
        background: #FFF;
        color: black;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: 14px;
        outline: none;
        &.password_input::placeholder{ 
            color: #CDCDD2;
            font-family: Inter;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}
.flex2{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 83px;
    a{ 
        color: #2ACED0;
        text-align: center;
        font-family: Inter;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 25.5px; /* 150% */
        text-decoration: none;
    }
    button{ 
        width: 160px;
        height: 48px;
        border-radius: 12px;
        border: 1px solid #2ACED0;
        background: #2ACED0;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 25.5px; /* 150% */
        border: none;
        cursor: pointer;
    }
    button:hover{ 
        background-color: turquoise;
        transition: .3s;
    }
}